{% extends "base.html" %}
{% block content %}
<div class="container">
            <div>
                <marquee>Welcome to my Website! Its content gives a brief overview of Technologies learned in IS601 Web Development.</marquee>
                <h4>About me</h4>
            <p><em><ul class="fs-5" >
                <li><b>Education</b> Current Graduate student at NJIT  pursuing majors in Computer Science
                .Prior to enrolling in masters,Completed Bachelors from University of Mumbai in 2016 with a majors in
                Electronics and Telecommunication. </li>

                <li><b>Work Experience</b>Post Undergrad Degree ,worked with Tech Mahindra as a software Engineer for
                    4 years working on small to large scale web applications in telecom domain.</li>

                <li><b>Technical Skills</b> Though I am proficient in Tech Stack ranging from Java,Javascript,node.js,git
                    ,jenkins,shell script to name a few. I enrolled in IS601-Web systems Development to learn fundamental
                    web design in python using flask and creating CI/CD pipeline along with Docker for our app.This will
                    help me explore roles and skills beyond my current scope</li>
            </ulclass>
            </em>
            </p>
            </div>

            <div class="row border border-danger mb-5">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href ="/page1">
                            <img src="{{ url_for('static', filename='images/Github.png') }}" class="d-block w-100 item" alt="...">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href ="/page2">
                            <img src="{{ url_for('static', filename='images/Docker_Architecture.jpeg') }}" class="d-block w-100 item " alt="...">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href ="/page3">
                            <img src="{{ url_for('static', filename='images/flask.jpeg') }}" class="d-block w-100 item" alt="...">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href ="/page4">
                            <img src="{{ url_for('static', filename='images/CI_CD.png') }}" class="d-block w-100 item" alt="...">
                            </a>
                        </div>
                    </div>
                    <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon text-danger " aria-hidden="true"></span>
                        <span class="visually-hidden ">Previous</span>
                    </button>
                    <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon text-danger" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

    <div class="row mb-3">
        <div class="col-sm-3 fs-5 align-items-stretch">
            <div class="card text-white bg-danger">
                <div class="card-header">
                    Git
                </div>
                <div class="card-body bg-light">
                    <p class="card text-dark font18 ">Explore GitHub</p>
                    <a href="https://github.com/" class="card-link darkgrey" target="_blank">www.github.com</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 fs-5 align-items-stretch">
            <div class="card text-white bg-danger">
                <div class="card-header">
                    Docker and DockerHub
                </div>
                <div class="card-body bg-light">
                    <p class="card text-dark font18">Explore Docker</p>
                    <a href="https://www.docker.com/" class="card-link darkgrey" target="_blank" >www.docker.com</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 fs-5 align-items-stretch">
            <div class="card text-white bg-danger">
                <div class="card-header fs-5">
                    Python and Flask
                </div>
                <div class="card-body bg-light">
                    <p class="card text-dark fs-5 ">Explore Python/Flask</p>
                    <a href="https://www.python.org/" class="card-link darkgrey fs-5" target="_blank">www.python.org</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 fs-5 align-items-stretch">
            <div class="card text-white bg-danger">
                <div class="card-header">
                    CI/CD
                </div>
                <div class="card-body bg-light">
                    <p class="card text-dark font18">Explore CI/CD</p>
                    <a href="https://docs.microsoft.com/en-us/azure/app-service/deploy-github-actions?tabs=applevel" target="_blank" class="card-link darkgrey">microsoft.com/github</a>
                </div>

            </div>

            </div>
        </div>
    </div>
{% endblock %}